*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #f5f5f5;
}
header{
    background-color: #333;
    color: white;
    padding: 10px 0;
    text-align: center;
}